@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 160px;
  bottom: 0;
  width: 100%;
}

.menu {
  /* Padding */
  padding: 8px;

  /* Dimensions minimales */
  min-height: 80px;
  min-width: 160px;

  /* Rectangle blanc avec coins arrondis */
  background-color: white;
  border-radius: 8px;
}

#layers {
  /* Positionnement dans le body */
  position: absolute;
  top: 20px;
  right: 20px;
}

#attributes {
  /* Positionnement dans le body */
  position: absolute;
  top: 720px;
  left: -1700px;
}

#production {
  /* Positionnement dans le body */
  position: absolute;
  top: 20px;
  right: 200px;
}
